<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>JS Vue Lesson 3</title>
		<script src="https://unpkg.com/vue@next"></script>
		<style>
			ul > li {
				border: solid 2px blue;
			}
			ul p {
				min-width: 100px;
			}
		</style>
	</head>
	<body>
		<p>Task #1</p>
		<div id='vueApp'>
			<input type='text' placeholder='Введите название статьи' v-model.lazy='searchStr'></input>
			<p> {{ searchStr }} </p>
			<ul  type='none'>
				<li v-for='article in searchArticle()' v-bind:key='article.id'> 
					<a :href='article.url'> <p>article: {{ article.name }} </p>
						<img :src='article.img' height='100' width='100'> 
					</a> 
				</li>
			</ul>
		</div>
		
		<p>Task #2</p>
		
		<div id="customTag">
			<input type='text' v-bind:value='text' v-if='showInputTag' @change='inputtext($event.target.value)'></input>
			<p v-bind:value='text' v-if='!showInputTag' @click='this.showInputTag = true'> {{ text }} </p>
		</div>
		
		<script src="../script/script3.js" ></script>
	</body>	
</html>